* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    background: rgba(0,0,0,0.9);
    backdrop-filter: blur(10px);
}

nav .logo {
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #00ff88;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 120px 20px 70px;
}

.hero h1 {
    font-size: 46px;
    margin-bottom: 10px;
}

/* SECTION TITLES */
h2 {
    margin: 40px 0 15px;
    font-size: 32px;
}

/* ABOUT */
#about {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    text-align: left;
}

/* PROJECT CARDS */
#projects {
    text-align: center;
    padding: 10px;
}

.projects-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 20px;
}

.project-card {
    background: #111;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 0 20px #00ff8850;
    text-align: left;
}

.btn {
    background: #00ff88;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 8px;
    margin-top: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

/* CONTACT */
#contact {
    text-align: center;
    margin-top: 60px;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.cbtn {
    background: #222;
    padding: 12px 24px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    color: #bbb;
}
